<form name="form" class="form-validation">
<div class="modal-header">
    <h3 class="modal-title">{{settings.modal}}</h3>
</div>
<div class="modal-body">

    <div class="form-group">
	    <label>Nombre</label>
	    <input type="text" class="form-control" ng-model="item.nombre" required >
	</div>
	<div class="form-group">
	    <label>Usuario</label>
	    <input type="text" class="form-control" ng-model="item.usuario" required >
	</div>
	<div class="form-group">
	    <label>Password</label>
	    <input type="password" class="form-control" ng-model="item.password" required >
	</div>
	<div class="form-group">
	    <label>Email</label>
	    <input type="email" class="form-control" ng-model="item.email" required >
	</div>

</div>
<div class="modal-footer">                  
    <button class="btn btn-default" ng-click="hide()">Cerrar</button>
    <button type="submit" class="btn btn-primary" ng-click="saveItem(item)" ng-disabled="form.$invalid">{{settings.accion}}</button>
</div>
</form>