<style>

select
{
	border:0;
    background:none;
    -webkit-appearance: none;
}

.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 100%;
   color: white;
   padding: 5px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px;
   width: 268px;
}

/* -------------------- Rounded Corners */
.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

/* -------------------- Colors: Background */
.slate   { background-color: #ddd; }
.green   { background-color: #779126; }
.blue    { background-color: #3b8ec2; }
.yellow  { background-color: #eec111; }
.black   { background-color: #000; }

/* -------------------- Colors: Text */
.slate select   { color: #000; }
.green select   { color: #fff; }
.blue select    { color: #fff; }
.yellow select  { color: #000; }
.black select   { color: #fff; }

.mb-20{
	margin-bottom: 20px;
}

</style>
<div class="panel-content">
	<div class="welcome-patti">
		
		<ul class="breadcrumbs">
			<li><a href="#" title=""><i class="fa fa-home"></i></a></li>
			<li><a href="#" title="">Comprar servicio</a></li>
		</ul>
	</div><!-- Welcome Patti -->
	<div class="heading-sec">
		<div class="row">
			<div class="col-md-4 column">
				<div class="heading-profile">
					<h2></h2>
					
				</div>
			</div>
		</div>
	</div><!-- Heading Sec -->
	<div class="main-content-area">

		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="billing-sec">
					<div class="row">
					<form name="form" class="form-validation">	
						<div class="col-md-12">
							<div class="widget-title no-padding no-margin">
								<h3>Comprar servicio</h3>
								<p>Para adquirir tu servicio, debes elegir el tipo de vehículo que posees</p>
							</div>
						</div>
						<div class="col-md-12">
							<label>Tipo de Vehiculo  </label>
						</div>
						<div class="col-md-12 mb-20">
							<select class="styled-select blue semi-square" ng-model="item_vehiculo" ng-change="llenarServicios()" ng-options="item.nombre for item in tipos_vehiculos" required></select>
						</div>

						<div class="col-md-12" ng-show="mostrar_servicio == 1">
							<label>Tipo de Servicio  </label>
						</div>
						<div class="col-md-12 mb-20" ng-show="mostrar_servicio == 1">
							<select class="styled-select blue semi-square" ng-model="item_servicio" ng-change="llenarExtras()" ng-options="servicio.nombre +' (Q'+servicio.precio+')' for servicio in servicios" required></select>
						</div>

						<div class="col-md-12" ng-show="mostrar_extra == 1">
							<label>Seleccione los extras que desee  </label>
						</div>
							
						<div class="col-md-12" ng-repeat="extra in extras"> 
						  
							<label>
							  <input type="checkbox" value="{{extra}}" ng-model="extra.selected" ng-click="calcular()">
							  {{extra.nombre}} (Q{{extra.precio}})
							</label>
						  
						</div>
						

						<div class="col-md-12" style="margin-top: 30px;">
							<label>TOTAL: Q {{total}} </label>
						</div>


						<div class="col-md-2">
							<button class="green-skin" ng-click="comprar()" ng-disabled="form.$invalid">{{title}}</button>
						</div>
					</form>
					</div>				

				</div>
			</div>
			<div class="col-md-2"></div>
		</div>

	</div>
</div><!-- Panel Content -->
<script type="text/javascript">

</script>
