<div class="panel-content">
	<div class="welcome-patti">
		
		<ul class="breadcrumbs">
			<li><a href="#" title=""><i class="fa fa-home"></i></a></li>
			<li><a href="#" title="">Dashboard</a></li>
		</ul>
	</div><!-- Welcome Patti -->
	<div class="heading-sec">
		<div class="row">
			<div class="col-md-4 column">
				<div class="heading-profile">
					<h2>Dashboard</h2>
					<span>Your Sample text</span>
				</div>
			</div>
		</div>
	</div><!-- Heading Sec -->
	<div class="main-content-area">
		
	</div>
</div><!-- Panel Content -->
<script type="text/javascript">

</script>
