<div class="panel-content">
	<div class="welcome-patti">
		
		<ul class="breadcrumbs">
			<li><a href="#" title=""><i class="fa fa-home"></i></a></li>
			<li><a href="#" title="">{{settings.plural}}</a></li>
		</ul>
	</div><!-- Welcome Patti -->
	<div class="heading-sec">

	</div><!-- Heading Sec -->
	<div class="main-content-area">
		<div class="row" ng-show="mostrar == 0">
			<div class="col-md-12">
				<div class="widget no-padding blank">
					<button href="#" title="" class="c-btn medium green pop" ng-click="crear()">Crear</button>
					<div class="panel panel-default work-progress-table">
						<div class="panel-heading">
							{{data.length}} Registros <i></i>
							<div class="dropdown rounded">
								<div class="form-group">
									<input type="text" placeholder="Buscar" class="form-control" ng-model="search.$">
								</div>
							</div>
						</div>
						<table id="dataTable" class="table table-striped">
							<thead>
							  <tr>
								<th>#</th>
								<th>Nombre</th>
								<th>Detalle</th>
								<th>Es combo</th>
								<th>Acciones</th>
							  </tr>
							</thead>
							<tbody>
							  <tr ng-repeat="item in data | filter:search">
							  	<td>{{item.id}}</td>
							  	<td>{{item.nombre}}</td>
							  	<td><p ng-repeat="x in item.precios"> {{x.nombre}} Q.{{x.precio}} <br></p></td>
							  	<td><button class="c-btn mini" ng-class="item.es_combo == 1 ? 'green' : 'blue'">{{item.es_combo == 1 ? 'Si' : 'No'}}</td>
							  	<td>
							  		<button class="c-btn mini blue pop" ng-click="editar(item)"><i class="fa fa-edit blue"></i></button>
							  		<button class="c-btn mini red pop" ng-click="eliminar(item)"><i class="fa fa-trash-o red"></i></button>
							  	</td>
							  </tr>
							  <tr ng-if="data.length == 0">
							  	<td>No hay registros</td>
							  </tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>		
		</div>

		<div class="row" ng-show="mostrar == 1">
			<div class="col-md-12">
				<div class="widget with-padding">
				<form name="form" class="form-validation">				 
					<h4>{{settings.accion}} {{settings.singular}}</h4>
					<div class="row" ng-show="settings.accion != 'Eliminar'">
						<div class="col-md-8">
							<div class="inline-form">
								<label class="c-label">Nombre</label><input class="input-style" type="text" placeholder="Nombre" ng-model="item.nombre" required>
							</div>
						</div>
						<div class="col-md-4">
							<div class="inline-form">
								<label class="c-label">Es combo ?</label>
								<select ng-model="item.es_combo"  ng-options="combo.id as combo.descripcion for combo in combos" required></select>
							</div>
						</div>
						<div class="col-md-4" ng-show="item.es_combo == 1">
							<div class="inline-form">
								<label class="c-label">Cantidad</label><input class="input-style" type="number" placeholder="Cantidad" ng-model="item.cantidad" min="1">
							</div>
						</div>
						<div class="col-md-12" style="margin-top: 25px;">
							<table class="table">
								<thead>
								  <tr>
									<th>Tipo Vehiculo</th>
									<th>Precio</th>
								  </tr>
								</thead>
								<tbody>
								  <tr ng-repeat="tipo in precios">
								  	<td>{{tipo.nombre}}</td>
								  	<td><input class="input-style" type="number" ng-model="tipo.precio" min="0" required></td>
								  </tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="row" ng-show="settings.accion == 'Eliminar'">
						<div class="col-md-12 text-center">
							<h5>Esta seguro de eliminar el registro ? Este proceso es irreversible</h5>
						</div>
					</div>
					
					<div class="row" style="margin-top: 30px;">
						<div class="col-md-6" ng-show="msg.mostrar == 1">
							<div class="notification">
								<div role="alert" class="alert color" ng-class="msg.color">
									<strong>{{msg.title}}</strong> {{msg.message}}
								</div>
							</div>
						</div>
						<div class="col-md-6 pull-right">
							<button href="#" title="" class="c-btn large green pop pull-right" ng-click="guardar(item)" ng-disabled="form.$invalid">{{settings.accion!='Eliminar' ? 'Guardar' : 'Eliminar'}}</button>
							<button href="#" title="" class="c-btn large red pop pull-right" ng-click="cancelar()">Cancelar</button>
						</div>
					</div>

				</form>
				</div>
			</div>
		</div>

	</div>

</div><!-- Panel Content -->
<script type="text/javascript">
	$(document).ready(function(){
    
    'use strict';

		
	});
</script>
