<div class="slide-panel" id="panel-scroll">
     <ul role="tablist" class="nav nav-tabs panel-tab-btn">
          <li class="active"><a data-toggle="tab" role="tab" data-target="#panel-tab1"><i class="ti-email"></i><span>Your Emails</span></a></li>
          <li><a data-toggle="tab" role="tab" data-target="#panel-tab2"><i class="ti-settings"></i><span>Your Setting</span></a></li>
     </ul>
     <div class="tab-content panel-tab">
          <div id="panel-tab1" class="tab-pane fade in active">
               <div class="recent-mails-widget">
                    <form><div id="searchMail"></div></form>
                    <h3>Recent Emails</h3>
                    <ul id="mail-list" class="mail-list">
                         <li>
                              <div class="title">
                                   <span><img src="http://placehold.it/40x40" alt="" /><i class="online"></i></span>
                                   <h3><a href="#" title="">Kim Hostwood</a><span>5 min ago</span></h3>
                                   <a href="#"  data-toggle="tooltip" data-placement="left" title="Attachment"><i class="ti-clip"></i></a>
                              </div>
                              <h4>Themeforest Admin Template</h4>
                              <p>This product is so good that i manage to buy.</p>
                         </li>
                         <li>
                              <div class="title">
                                   <span><img src="http://placehold.it/40x40" alt="" /><i class="online"></i></span>
                                   <h3><a href="#" title="">John Doe</a><span>2 hours ago</span></h3>
                                   <a href="#"  data-toggle="tooltip" data-placement="left" title="Attachment"><i class="ti-clip"></i></a>
                              </div>
                              <h4>Themeforest Admin Template</h4>
                              <p>This product is so good that i manage to buy.</p>
                         </li>
                         <li>
                              <div class="title">
                                   <span><img src="http://placehold.it/40x40" alt="" /><i class="offline"></i></span>
                                   <h3><a href="#" title="">Jonathan Doe</a><span>8 min ago</span></h3>
                                   <a href="#"  data-toggle="tooltip" data-placement="left" title="Attachment"><i class="ti-clip"></i></a>
                              </div>
                              <h4>Themeforest Admin Template</h4>
                              <p>This product is so good that i manage to buy.</p>
                         </li>
                    </ul>
                    <a href="#/mail" title="" class="purple">View All Messages</a>
               </div><!-- Recent Email Widget -->
               
               <div class="file-transfer-widget">
                    <h3>FILE TRANSFER</h3>
                    <div class="toggle">
                         <ul>
                              <li>
                                   <i class="ti-file"></i><h4>my-excel.xls<i>20 min ago</i></h4>
                                   <div class="progress">
                                     <div style="width: 90%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" role="progressbar" class="progress-bar red">
                                        90%
                                     </div>
                                   </div>
                                   <div class="file-action-btn">
                                        <a href="#" title="Approve" class="green" data-toggle="tooltip" data-placement="bottom"><i class="ti-check"></i></a>
                                        <a href="#" title="Cancel" class="red" data-toggle="tooltip" data-placement="bottom"><i class="ti-close"></i></a>
                                   </div>
                              </li>
                              <li>
                                   <i class="ti-zip"></i><h4>my-cv.pdf<i>8 min ago</i></h4>
                                   <div class="progress">
                                     <div style="width: 40%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar blue">
                                        40%
                                     </div>
                                   </div>
                                   <div class="file-action-btn">
                                        <a href="#" title="Approve" class="green" data-toggle="tooltip" data-placement="bottom"><i class="ti-check"></i></a>
                                        <a href="#" title="Cancel" class="red" data-toggle="tooltip" data-placement="bottom"><i class="ti-close"></i></a>
                                   </div>
                              </li>
                              <li>
                                   <i class="ti-files"></i><h4>portfolio-shoot.mp4<i>12 min ago</i></h4>
                                   <div class="progress">
                                     <div style="width: 70%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar" class="progress-bar green">
                                        70%
                                     </div>
                                   </div>
                                   <div class="file-action-btn">
                                        <a href="#" title="Approve" class="green" data-toggle="tooltip" data-placement="bottom"><i class="ti-check"></i></a>
                                        <a href="#" title="Cancel" class="red" data-toggle="tooltip" data-placement="bottom"><i class="ti-close"></i></a>
                                   </div>
                              </li>
                         </ul>
                    </div>
               </div><!-- File Transfer -->
          </div>
          <div id="panel-tab2" class="tab-pane fade">
               <div class="setting-widget">
                    <form>
                         <h3>Accounts</h3>
                         <div class="toggle-setting">
                              <span>Office Account</span>
                              <label class="toggle-switch">                               
                                   <input type="checkbox">
                                   <span data-unchecked="Off" data-checked="On"></span>
                              </label>
                         </div>
                         <div class="toggle-setting">
                              <span>Personal Account</span>
                              <label class="toggle-switch">                               
                                   <input type="checkbox" checked>
                                   <span data-unchecked="Off" data-checked="On"></span>
                              </label>
                         </div>
                         <div class="toggle-setting">
                              <span>Business Account</span>
                              <label class="toggle-switch">                               
                                   <input type="checkbox">
                                   <span data-unchecked="Off" data-checked="On"></span>
                              </label>
                         </div>
                    </form>
                    
                    <form>
                         <h3>General Setting</h3>
                         <div class="toggle-setting">
                              <span>Notifications</span>
                              <label class="toggle-switch">                               
                                   <input type="checkbox" checked>
                                   <span data-unchecked="Off" data-checked="On"></span>
                              </label>
                         </div>
                         <div class="toggle-setting">
                              <span>Notification Sound</span>
                              <label class="toggle-switch">                               
                                   <input type="checkbox" checked>
                                   <span data-unchecked="Off" data-checked="On"></span>
                              </label>
                         </div>
                         <div class="toggle-setting">
                              <span>My Profile</span>
                              <label class="toggle-switch">                               
                                   <input type="checkbox">
                                   <span data-unchecked="Off" data-checked="On"></span>
                              </label>
                         </div>
                         <div class="toggle-setting">
                              <span>Show Online</span>
                              <label class="toggle-switch">                               
                                   <input type="checkbox">
                                   <span data-unchecked="Off" data-checked="On"></span>
                              </label>
                         </div>
                         <div class="toggle-setting">
                              <span>Public Profile</span>
                              <label class="toggle-switch">                               
                                   <input type="checkbox" checked>
                                   <span data-unchecked="Off" data-checked="On"></span>
                              </label>
                         </div>
                    </form>
               </div><!-- Setting Widget -->
          </div>
     </div>
</div><!-- Slide Panel -->
<script type="text/javascript">
     $(document).ready(function(){

          'use strict';
          
          //**** Slide Panel Toggle ***//
          $(".slide-bar-btn").on('click', function(){
          $(".slide-bar-btn").toggleClass('active');
          $(".slide-panel").toggleClass('active');
          });
          
          //***** Clients lists Scroll *****//
          /*$(function(){
               $('#panel-scroll').slimScroll({
                    height: '100%',
                    wheelStep: 10,
                    distance : '0px',
                    color:'#878787',
                    railOpacity : '0.1',
                    size: '2px'
               });
          });*/
          
          /* Copyright (c) 2013 ; Licensed  */
          //Sort by first name
          $(function() {
          $.fn.sortList = function() {
          var mylist = $(this);
          var listitems = $('li', mylist).get();
          listitems.sort(function(a, b) {
          var compA = $(a).text().toUpperCase();
          var compB = $(b).text().toUpperCase();
          return (compA < compB) ? -1 : 1;
          });
          $.each(listitems, function(i, itm) {
          mylist.append(itm);
          });
          }
          });

          //Sort by last name
          $(function() {
          $.fn.sortListLast = function() {
          var mylist = $(this);
          var listitems = $('li', mylist).get();
          listitems.sort(function(a, b) {
          var compA = $('.last-name', a).text().toUpperCase();
          var compB = $('.last-name', b).text().toUpperCase();
          return (compA < compB) ? -1 : 1;
          });
          $.each(listitems, function(i, itm) {
          mylist.append(itm);
          });
          }
          });

          //Search filter
          (function ($) {
          // custom css expression for a case-insensitive contains()
          jQuery.expr[':'].Contains = function(a,i,m){
          return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase())>=0;
          };


          function listFilter(searchDir, list) { 
          var form = $("<form>").attr({"class":"filterform","action":"#"}),
          input = $("<input>").attr({"class":"filterinput","type":"text","placeholder":"Live Search Mails"});
          $(form).append(input).appendTo(searchDir);

          $(input)
          .change( function () {
          var filter = $(this).val();
          if(filter) {
          $(list).find("li:not(:Contains(" + filter + "))").slideUp();
          $(list).find("li:Contains(" + filter + ")").slideDown();
          } else {
          $(list).find("li").slideDown();
          }
          return false;
          })
          .keyup( function () {
          $(this).change();
          });
          }


          //Slide Panel Search Email
          $(function () {
          listFilter($("#searchMail"), $("#mail-list"));
          });

          }(jQuery));

          
     });
</script> 