<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" data-ng-app="myAppClient"> <!--<![endif]-->
<head>

    <!-- Meta-Information -->
    <title>Dashboard | Mr. Burbujas</title>
    <meta charset="utf-8">
    <meta name="description" content="Sistema para el control de lavados de un Carwash">
    <meta name="author" content="Pablo Rosales">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Vendor: Bootstrap Stylesheets http://getbootstrap.com -->

    <!-- Our Website CSS Styles -->
    <link rel="stylesheet" href="css/icons.css">
    <link rel="stylesheet" href="css/login.css">

</head>
<body ng-controller="LoginController">
 
<!--<div class="panel-content">

	<div class="main-content-area" ng-show="tag == 1">
		<div class="go-full">
			<div class="account-sec">
				<div class="logo">
				   <a href="login.html" title="">
				        <span>Mr Burbujas</span>
				        <p>Ingresa tus datos</p>
				   </a>
				</div>
				<form class="account-form">
					<fieldset>
						<i class="ti-user"></i>
						<input type="text" placeholder="Codigo Empleado" ng-model="user.codigo_empleado"/>
					</fieldset>
					<fieldset>
						<i class="ti-key"></i>
						<input type="password" placeholder="Password" ng-model="user.password"/>
					</fieldset>
					<button class="c-btn medium green pop pull-right" ng-click="login()">Entrar</button>
					<button class="c-btn medium blue pop pull-right" ng-click="signup()">Registrate!</button>
				</form>
				<ul class="account-feature">
					
				</ul>
			</div>
		</div>
	</div>

	<div class="main-content-area" ng-show="tag == 2">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="billing-sec">
					<div class="row">
					<form name="form" class="form-validation">	
						<div class="col-md-12">
							<div class="widget-title no-padding no-margin">
								<h3>Crea tu cuenta</h3>
								<p>Debes ingresar tu información. (*) Campos requeridos</p>
							</div>
						</div>
						<div class="col-md-12 field">
							<label>Codigo de Empleado <span>*</span> </label>
							<input type="text" ng-model="sign.codigo_empleado" required/>
						</div>
						<div class="col-md-6 field">
							<label>Primer Nombre <span>*</span> </label>
							<input type="text" ng-model="sign.primer_nombre" required/>
						</div>
						<div class="col-md-6 field">
							<label>Segundo Nombre <span></span> </label>
							<input type="text" ng-model="sign.segundo_nombre" />
						</div>
						<div class="col-md-6 field">
							<label>Primer Apellido <span>*</span> </label>
							<input type="text" ng-model="sign.primer_apellido" required/>
						</div>
						<div class="col-md-6 field">
							<label>Segundo Apellido <span></span> </label>
							<input type="text" ng-model="sign.segundo_apellido" />
						</div>
						
						<div class="col-md-6 field">
							<label>Telefono <span>*</span> </label>
							<input type="text" ng-model="sign.telefono" required/>
						</div>
						<div class="col-md-6 field">
							<label>Email<span>*</span> </label>
							<input type="email" ng-model="sign.email" required/>
						</div>
						<div class="col-md-2">
							<button class="red-skin" ng-click="cancelar()">Cancelar</button> 
						</div>
						<div class="col-md-2">
							<button class="green-skin" ng-click="enviar()" ng-disabled="form.$invalid">Enviar</button>
						</div>
					</form>
					</div>				

				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>-->
	<div class="login-wrap">
		<div class="login-html">
			<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Login</label>
			<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Registro</label>
			<div class="login-form">
				<div class="sign-in-htm">
				<form>
					<div class="hr"></div>
					<div class="group">
						<label for="user" class="label">Codigo de Empleado</label>
						<input id="user" type="text" class="input" ng-model="user.codigo_empleado">
					</div>
					<div class="group">
						<label for="pass" class="label">Password</label>
						<input id="pass" type="password" class="input" data-type="password" ng-model="user.password">
					</div>
					<!--<div class="group">
						<input id="check" type="checkbox" class="check" checked>
						<label for="check"><span class="icon"></span> Keep me Signed in</label>
					</div>-->
					<div class="group">
						<button class="button" ng-click="login()">Entrar</button>
					</div>
					<div class="hr"></div>
					<!--<div class="foot-lnk">
						<a href="#forgot">Forgot Password?</a>
					</div>-->
				</form>
				</div>

				<div class="sign-up-htm">
				<form name="form" class="form-validation">	
					<div class="group">
						<label for="user" class="label">Código de Empleado</label>
						<input id="user" type="text" class="input" ng-model="sign.codigo_empleado" required>
					</div>
					<div class="group">
						<label for="primer_nombre" class="label">Primer Nombre</label>
						<input id="primer_nombre" type="text" class="input" ng-model="sign.primer_nombre" required>
					</div>
					<div class="group">
						<label for="segundo_nombre" class="label">Segundo Nombre</label>
						<input id="segundo_nombre" type="text" class="input" ng-model="sign.segundo_nombre" >
					</div>
					<div class="group">
						<label for="primer_apellido" class="label">Primer Apellido</label>
						<input id="primer_apellido" type="text" class="input" ng-model="sign.primer_apellido" required>
					</div>
					<div class="group">
						<label for="segundo_apellido" class="label">Segundo Apellido</label>
						<input id="segundo_apellido" type="text" class="input" ng-model="sign.segundo_apellido" >
					</div>
					<div class="group">
						<label for="telefono" class="label">Telefono</label>
						<input id="telefono" type="text" class="input" ng-model="sign.telefono" required>
					</div>
					<div class="group">
						<label for="email" class="label">Email</label>
						<input id="email" type="text" class="input" ng-model="sign.email" required>
					</div>
					<div class="group">
						<button class="button" ng-click="enviar()" ng-disabled="form.$invalid">Enviar</button>
					</div>
					<div class="hr"></div>
					<!--<div class="foot-lnk">
						<label for="tab-1">Already Member?</a>
					</div>-->
				</form>
				</div>
			</div>
		</div>
	</div>

</div>


<!-- Vendor: Javascripts -->
<script src="js/jquery-2.1.3.js"></script>
<script src="js/bootstrap.min.js"></script>

<!-- Vendor: Angular, followed by our custom Javascripts -->
<script src="js/angular.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>
<script src="https://maps.google.com/maps/api/js?key=AIzaSyDrlCWSCEGTYat1yFIybvtjXe6v24wXY04" async="" defer="defer" type="text/javascript"></script>

<!-- Our Website Javascripts -->
<script src="js/app.js"></script>
<script src="js/app.constants.js"></script>
<script src="js/login.js"></script>

</body>
</html>
