<div class="panel-content">
	<div class="welcome-patti">
		
		<ul class="breadcrumbs">
			<li><a href="#" title=""><i class="fa fa-home"></i></a></li>
			<li><a href="#" title="">{{settings.plural}}</a></li>
		</ul>
	</div><!-- Welcome Patti -->
	<div class="heading-sec">

	</div><!-- Heading Sec -->
	<div class="main-content-area">
		<div class="row" ng-show="mostrar == 0">
			<div class="col-md-12">
				<div class="widget no-padding blank">
					
					<div class="panel panel-default work-progress-table">
						<div class="panel-heading">
							{{data.length}} Registros <i></i>
							<div class="dropdown rounded">
								<div class="form-group">
									<input type="text" placeholder="Buscar" class="form-control" ng-model="search.$">
								</div>
							</div>
						</div>
						<table id="dataTable" class="table table-striped">
							<thead>
							  <tr>
								<th>#</th>
								<th>Codigo Empleado</th>
								<th>Nombre Completo</th>
								<th>Telefono</th>
								<th>Email</th>
								<th>Estado</th>
								<th>Usuario Habilito</th>
								<th ng-if="type == 3">Acciones</th>
							  </tr>
							</thead>
							<tbody>
							  <tr ng-repeat="item in data | filter:search">
							  	<td>{{item.id}}</td>
							  	<td>{{item.codigo_empleado}}</td>
							  	<td>{{item.primer_nombre + ' ' + item.segundo_nombre + ' ' + item.primer_apellido + ' ' + item.segundo_apellido}}</td>
							  	<td>{{item.telefono}}</td>
							  	<td>{{item.email}}</td>
							  	<td><button class="c-btn mini" ng-class="item.estado == 1 ? 'green' : 'red'">{{item.estado == 1 ? 'Activo' : 'Inactivo'}}</button></td>
							  	<td></td>
							  	<td ng-if="type == 3"><button class="c-btn mini green pop" ng-click="activar(item)" ng-if="item.estado == 0"><i class="fa fa-check green"></i></button></td>
							  </tr>
							  <tr ng-if="data.length == 0">
							  	<td>No hay registros</td>
							  </tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>		
		</div>

		<div class="row" ng-show="mostrar == 1">
			<div class="col-md-12">
				<div class="widget with-padding">
				<form name="form" class="form-validation">				 
					<h4>{{settings.accion}} {{settings.singular}}</h4>
					<div class="row" ng-show="false">
						<div class="col-md-6">
							<div class="inline-form">
								<label class="c-label">Valor</label><input class="input-style" type="text" placeholder="Nombre" ng-model="item.id" required>
							</div>
						</div>
						
					</div>

					<div class="row" >
						<div class="col-md-12 text-center">
							<h5>Desea dar de altar a <b>{{item.primer_nombre + ' ' + item.segundo_nombre + ' ' + item.primer_apellido + ' ' + item.segundo_apellido}}</b></h5>
						</div>
					</div>
					
					<div class="row" style="margin-top: 30px;">
						<div class="col-md-6" ng-show="msg.mostrar == 1">
							<div class="notification">
								<div role="alert" class="alert color" ng-class="msg.color">
									<strong>{{msg.title}}</strong> {{msg.message}}
								</div>
							</div>
						</div>
						<div class="col-md-6 pull-right">
							<button href="#" title="" class="c-btn large green pop pull-right" ng-click="guardar(item)" ng-disabled="form.$invalid">Activar</button>
							<button href="#" title="" class="c-btn large red pop pull-right" ng-click="cancelar()">Cancelar</button>
						</div>
					</div>

				</form>
				</div>
			</div>
		</div>

	</div>

</div><!-- Panel Content -->
<script type="text/javascript">
	$(document).ready(function(){
    
    'use strict';

		
	});
</script>
