<div class="panel-content">
	<div class="welcome-patti">
		
		<ul class="breadcrumbs">
			<li><a href="#" title=""><i class="fa fa-home"></i></a></li>
			<li><a href="#" title="">{{settings.plural}}</a></li>
		</ul>
	</div><!-- Welcome Patti -->
	<div class="heading-sec">

	</div><!-- Heading Sec -->
	<div class="main-content-area">
		<div class="row" ng-show="mostrar == 0">
			<div class="col-md-12">
				<div class="widget no-padding blank">
					<div class="row" style="margin-bottom: 20px;">
						<div class="col-md-3 field">
							<select class="filtro" ng-model="mes" ng-options="o.mes as o.nombre for o in meses" ng-change="cargar_datos()"></select>
						</div>
						<!--<button href="#" title="" class="c-btn medium green pop" ng-click="buscar()">Buscar</button>-->
					</div>
					<div class="panel panel-default work-progress-table">
						<div class="panel-heading">
							{{data.length}} Registros <i>Listado de los servicios adquiridos por los clientes</i>
							<div class="dropdown rounded">
								<div class="form-group">
									<input type="text" placeholder="Buscar" class="form-control" ng-model="search.$">
								</div>
							</div>
						</div>
						<table id="dataTable" class="table table-striped">
							<thead>
							  <tr>
							  	<th>Fecha</th>
								<th>Codigo de Empleado</th>
								<th>Nombre Completo</th>
								<th>Tipo Vehiculo</th>
								<th>Servicio</th>
								<th>Extras</th>
								<th>Total</th>
							  </tr>
							</thead>
							<tbody>
							  <tr ng-repeat="item in data | filter:search">
							  	<td>{{item.fecha}}</td>
							  	<td>{{item.empleado.codigo_empleado}}</td>
							  	<td>{{item.empleado.primer_nombre+" "+item.empleado.segundo_nombre+" "+item.empleado.primer_apellido+" "+item.empleado.segundo_apellido}}</td>
							  	<td>{{item.detalle.tipo_vehiculo.nombre}}</td>
							  	<td>{{item.detalle.servicio.nombre}}</td>
							  	<td><p ng-repeat="x in item.detalle.extras"> {{x.nombre}}<br></p></td>
							  	<td>{{item.total}}</td>
							  </tr>
							  <tr ng-if="data.length == 0">
							  	<td>No hay registros</td>
							  </tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>		
		</div>
	</div>

</div><!-- Panel Content -->
<script type="text/javascript">
	$(document).ready(function(){
    
    'use strict';

		
	});
</script>
