<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Plantillas / Workflow</h1>
</div>
<div class="wrapper-md">
 
  <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container> 
  <div class="panel panel-default" ng-show="numero_paso == 0">
    <div class="panel-heading">
      <button type="button" ng-click="crear()" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-plus"></i> Nuevo Registro</button>
    </div>
    <div class="panel-body">
      <div class="row mb20">
        <div class="col-sm-6">
          <input type="text" ng-model="tableParams.filter()['search']" class="form-control" placeholder="Buscar" autofocus />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table id="tabla-registros" ng-table="tableParams" class="table table-striped" template-pagination="tpl/blocks/pagination.html">
            <tbody>
            <tr ng-repeat="(key, item) in $data">
              <td data-title="'#'" filter="{ 'id': 'text' }" sortable="'id'" >{{ item.id }}</td>
              <td data-title="'Nombre'" filter="{ 'nombre': 'text' }" sortable="'nombre'" >{{ item.nombre }}</td>
              <td data-title="'Descripcion'" filter="{ 'descripcion': 'text' }" sortable="'descripcion'" >{{ item.descripcion }}</td>
              <td data-title="'Usuario Creo'" filter="{ 'usuario_creo': 'text' }" sortable="'usuario_creo'" >{{ item.creo!=null ? item.creo.nombre : '' }}</td>
              <td data-title="'Usuario Modifico'" filter="{ 'usuario_modifico': 'text' }" sortable="'usuario_modifico'" >{{ item.modifico!=null ? item.modifico.nombre : '' }}</td>
              <td data-title="'Pasos'" filter="{ 'pasos': 'text' }" sortable="'pasos'" >{{ item.pasos }}</td>
              
              <td data-title="'Acciones'">
                <button type="button" ng-click="editar(item)" class="btn btn-xs btn-info">
                  <i class="fa fa-edit"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default" ng-show="numero_paso == 1">
    <div class="panel-heading">
      {{settings.title}} Plantilla
    </div>
    <div class="panel-body">

        <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" ng-model="flow.nombre" required >
        </div>
        <div class="form-group">
            <label>Descripcion</label>
            <textarea type="text" class="form-control" ng-model="flow.descripcion" required ></textarea>
        </div>

        <div class="row mb20 mt20">
          <div class="col-sm-3">
            <h4>Pasos</h4>
          </div>
          <div class="col-sm-3 pull-right">
            <button class="pull-right btn btn-info" ng-click="add()">Agregar</button>
          </div>
        </div>

        <div class="row mb20">
          <div class="col-sm-12">

            <ul dnd-list="aprobadores">
                <li ng-repeat="item in aprobadores"
                    dnd-draggable="item"
                    dnd-moved="aprobadores.splice($index, 1)"
                    dnd-effect-allowed="move"
                    >
                    <div class="row">
                      <div class="col-sm-5">
                        <input type="text" class="form-control" ng-model="item.nombre" placeholder="Ingresa el nombre del proceso" required >
                      </div>
                      <div class="col-sm-2">
                        <div class="checkbox">
                          <label class="i-checks">
                            <input type="checkbox" ng-model="item.documento" ng-true-value="1" ng-false-value="0"><i></i> Documento
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <select class="form-control" ng-model="item.idpuesto" ng-options="puesto.id as puesto.nombre for puesto in puestos" required>
                        </select>
                      </div>
                      <div class="col-sm-1">
                        <button class="btn btn-xs btn-default" style="margin-left: 10px;"><i class="fa fa-arrows "></i></button>
                        <button class="btn btn-xs btn-danger" style="margin-left: 10px;" ng-click="aprobadores.splice($index, 1)"><i class="fa fa-trash-o"></i></button>
                      </div>
                    </div>
                </li>
            </ul>

          </div>
        </div>

        <div class="row mt20">
          <div class="col-sm-6">
            <button class="btn btn-block btn-success" ng-click="guardar()">{{settings.accion}}</button>
          </div>
          <div class="col-sm-6">
            <button class="btn btn-block btn-danger" ng-click="cancelar()">Cancelar</button>
          </div>
        </div>

    </div>
  </div>

</div>
