<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Usuarios</h1>
</div>
<div class="wrapper-md">
 
  <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container> 
  <div class="panel panel-default">
    <div class="panel-heading">
      <button type="button" ng-click="createItem()" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-plus"></i> Nuevo Registro</button>
    </div>
    <div class="panel-body">
      <div class="row mb20">
        <div class="col-sm-6">
          <input type="text" ng-model="tableParams.filter()['search']" class="form-control" placeholder="Buscar" autofocus />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <table id="tabla-registros" ng-table="tableParams" class="table table-striped" template-pagination="tpl/blocks/pagination.html">
            <tbody>
            <tr ng-repeat="(key, item) in $data">
              <td data-title="'#'" filter="{ 'id': 'text' }" sortable="'id'" >{{ item.id }}</td>
              <td data-title="'Nombre'" filter="{ 'nombre': 'text' }" sortable="'nombre'" >{{ item.nombre }}</td>
              <td data-title="'Usuario'" filter="{ 'usuario': 'text' }" sortable="'user'" >{{ item.usuario }}</td>
              <td data-title="'Email'" filter="{ 'email': 'text' }" sortable="'email'" >{{ item.email }}</td>
              <td data-title="'Puesto'" filter="{ 'puesto': 'text' }" sortable="'puesto'" >{{ item.puesto.nombre }}</td>
              <td data-title="'Estado'" filter="{ 'estado': 'text' }" sortable="'estado'" ><span class="label" ng-class="item.estado == 1 ? 'bg-success' : 'bg-danger'">{{item.estado == 1 ? 'Activo' : 'Inactivo'}}</span></td>
              <td data-title="'Acciones'">
                <button type="button" ng-click="editItem(item)" class="btn btn-xs btn-info">
                  <i class="fa fa-edit"></i>
                </button>
                <button type="button" ng-click="item.estado == 1 ? bajaItem(item) : altaItem(item)" class="btn btn-xs" ng-class="item.estado == 1 ? 'btn-warning' : 'btn-success'">
                  <i ng-if="item.estado == 1" class="fa fa-thumbs-o-down"></i>
                  <i ng-if="item.estado == 0" class="fa fa-thumbs-o-up"></i>
                </button>
                <button type="button" ng-click="deleteItem(item)" class="btn btn-xs btn-danger">
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
